<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- fragments/header.html -->
<nav th:fragment="navbar-fragment">
    <header>
        <a th:href="@{/}"><img th:class="logo" th:src="@{/images/fitfusion_logo_full.png}" th:alt="logo"></a>
        <div class="nav-items">
            <ul>
                <li>
                    <a class="nav-link" th:classappend="${menu == 'home'} ? ' active'" th:href="@{/}">홈</a>
                </li>
                <li>
                    <a class="nav-link" th:classappend="${menu == 'posts'} ? ' active'" th:href="@{/myexercise}">운동</a>
                </li>
                <li>
                    <a class="nav-link" th:classappend="${menu == 'admin'} ? ' active'" th:href="@{/meal/record}">식단</a>
                </li>
            </ul>
        </div>
        <div class="login-buttons">
            <ul>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item" th:if="${currentPath != '/user/login'}">
                        <a class="nav-link" id="login-modal-open-btn">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/register}">회원가입</a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="d-inline">
                            <button type="submit" class="nav-link">로그아웃</button>
                        </form>
                    </li>
                    <li class="nav-item dropdown" style="position: relative;">
                        <div class="profile-icon" onclick="toggleDropdown()">
                            <i class="fas fa-user-circle" style="font-size: 24px; color: white; cursor: pointer;"></i>
                        </div>
                        <div id="profile-dropdown" class="profile-dropdown">
                            <div class="dropdown-item">
                                <strong th:text="${#authentication.principal.user.name}">사용자이름</strong>
                            </div>
                            <div class="dropdown-item">
                                <a th:href="@{/user/mypage}">마이 페이지</a>
                            </div>
                            <div class="dropdown-item">
                                <form th:action="@{/logout}" method="post">
                                    <button type="submit">로그아웃</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </header>
</nav>
</html>
