<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">

<head>
  <title layout:fragment="title">운동 기록 수정</title>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/Exercise.css}"/>
  </th:block>
</head>

<div layout:fragment="content">
  <div class="ExerciseLogEdit-container">
    <h1 class="ExerciseLogEdit-title">운동 기록 수정</h1>

    <form action="/exercise-log/update" method="post">
      <div class="ExerciseLogEdit-logInfo">
        <label class="ExerciseLogEdit-label">
          운동 날짜
          <input type="date" name="logDate" class="ExerciseLogEdit-input" value="2025-07-06" />
        </label>
        <label class="ExerciseLogEdit-label ExerciseLogEdit-routineLabel">
          루틴 이름
          <input type="text" name="routineName" class="ExerciseLogEdit-routineInput" value="상체 강화 루틴" />
        </label>
      </div>

      <table class="ExerciseLogEdit-table">
        <thead>
        <tr>
          <th>운동명</th>
          <th>세트</th>
          <th>반복</th>
          <th>중량 (kg)</th>
          <th>삭제</th>
        </tr>
        </thead>
        <tbody id="exerciseTableBody">
        <tr>
          <td><input type="text" name="exercises[0].name" class="ExerciseLogEdit-input" value="벤치프레스" /></td>
          <td><input type="number" name="exercises[0].sets" class="ExerciseLogEdit-input" value="3" /></td>
          <td><input type="number" name="exercises[0].reps" class="ExerciseLogEdit-input" value="10" /></td>
          <td><input type="text" name="exercises[0].weight" class="ExerciseLogEdit-input" value="60" /></td>
          <td><button type="button" class="ExerciseLogEdit-deleteBtn" onclick="removeRow(this)">삭제</button></td>
        </tr>
        </tbody>
      </table>

      <button type="button" class="ExerciseLogEdit-addBtn" onclick="addExerciseRow()">+ 운동 추가</button>

      <div class="ExerciseLogEdit-buttonGroup">
        <button type="submit" class="ExerciseLogEdit-button">기록 저장</button>
        <button type="submit" class="ExerciseLogEdit-button ExerciseLogEdit-recordDelete">기록 삭제</button>
        <a href="/myexercise/exerciselog" class="ExerciseLogEdit-button ExerciseLogEdit-cancel">취소</a>
      </div>
    </form>
  </div>
<th:block layout:fragment="script">
  <script>
    let exerciseCount = 1;

    function addExerciseRow() {
      const tbody = document.getElementById('exerciseTableBody');
      const row = document.createElement('tr');
      row.innerHTML = `
            <td><input type="text" name="exercises[${exerciseCount}].name" class="ExerciseLogEdit-input" /></td>
            <td><input type="number" name="exercises[${exerciseCount}].sets" class="ExerciseLogEdit-input" /></td>
            <td><input type="number" name="exercises[${exerciseCount}].reps" class="ExerciseLogEdit-input" /></td>
            <td><input type="text" name="exercises[${exerciseCount}].weight" class="ExerciseLogEdit-input" /></td>
            <td><button type="button" class="ExerciseLogEdit-deleteBtn" onclick="removeRow(this)">삭제</button></td>
        `;
      tbody.appendChild(row);
      exerciseCount++;
    }

    function removeRow(button) {
      const row = button.closest('tr');
      row.remove();
    }
  </script>
</th:block>
</div>
</html>