<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">

<head>
    <title layout:fragment="title">운동 기록</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/Exercise.css}"/>
    </th:block>
</head>

<div layout:fragment="content">
<div class="ExerciseLog-container">
    <h1 class="ExerciseLog-title">운동 기록</h1>

    <!-- 운동 기록 예시 -->
    <div class="ExerciseLog-log-entry" th:each="routine : ${routineLogs}">
        <div class="ExerciseLog-log-header">
            <h2 th:text="${routine.formattedDate} + '  -  ' + ${routine.routineName}">2025년 7월 6일 - 루틴: 상체 강화 루틴</h2>
            <div class="ExerciseLog-btn-group">
                <button class="ExerciseLog-btn"
                        th:onclick="|location.href='@{/exerciseLog/updateLog/{routineId}/{sessionId}(routineId=${routine.routineId},sessionId=${routine.sessionId})}'|">수정</button>
                <form th:action="@{/exerciseLog/deleteLog/{sessionId}(sessionId=${routine.sessionId})}" method="post">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="hidden" name="sessionId" th:value="${routine.sessionId}"/>
                    <button class="ExerciseLog-btn">삭제</button>
                </form>
            </div>
        </div>
        <table class="ExerciseLog-table">
            <thead>
            <tr>
                <th>운동명</th>
                <th>세트</th>
                <th>반복</th>
                <th>수행 시간</th>
                <th>중량 (kg)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exercise : ${routine.exerciseLogs}">
                <td th:text="*{exercise.exerciseName}" class="ExerciseLog-exercise-name">벤치프레스</td>
                <td th:text="${exercise.sets}">3</td>
                <td th:text="${exercise.reps}">10</td>
                <td th:text="${exercise.durationMinutes}">10</td>
                <td th:text="${exercise.weight}">60</td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- 돌아가기 버튼 -->
    <a href="/myexercise" class="ExerciseLog-back-btn">← 나의 운동 페이지로 돌아가기</a>
</div>
</div>
</html>
