<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">

<head>
    <title layout:fragment="title">운동 목표 관리</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/Exercise.css}"/>
    </th:block>
</head>

<div layout:fragment="content">
<div class="ExerciseGoal-container">
    <h1 class="ExerciseGoal-title">운동 목표 관리</h1>
    <div class="ExerciseGoal-description">
        나의 목표를 설정하고 관리해보세요. 한 번에 하나의 목표만 적용됩니다.
    </div>

    <div class="ExerciseGoal-goalList">
        <!-- 선택된 목표 -->
        <div class="ExerciseGoal-goalCard"
             th:each="exerciseGoal : ${exerciseGoals}"
             th:classappend="${selectedGoal != null and exerciseGoal.goalId == selectedGoal.goalId} ? 'ExerciseGoal-selected' : ''">
            <div class="ExerciseGoal-goalInfo">
                <h3>
                    <span th:text="${exerciseGoal.goalType}">체중 감량 (5kg)</span>
                    <span class="ExerciseGoal-progressText"
                      th:text="'목표까지' + (${exerciseGoal.startWeight-exerciseGoal.targetWeight}) +' kg 남았습니다'">남은 정보</span>
                </h3>
                <p th:text="'기간: ' + ${#dates.format(exerciseGoal.startDate, 'yyyy.MM.dd')} + '~' + ${#dates.format(exerciseGoal.endDate, 'yyyy.MM.dd')}">기간: 2025.07.01 ~ 2025.08.31</p>
            </div>
            <div class="ExerciseGoal-goalActions">
                <form th:action="@{/exercisegoal/select}" method="post"
                      th:if="${selectedGoal == null or exerciseGoal.goalId != selectedGoal.goalId}">
                    <input type="hidden" name="goalId" th:value="${exerciseGoal.goalId}">
                    <button class="ExerciseGoal-selectButton" type="submit">이 목표 선택</button>
                </form>
                <form th:action="@{/exercisegoal/unselect}" method="post"
                      th:if="${selectedGoal != null and exerciseGoal.goalId == selectedGoal.goalId}">
                <button class="ExerciseGoal-selectButton ExerciseGoal-active" type="submit">이 목표 선택됨</button>
                </form>
                <button class="ExerciseGoal-selectButton" th:onclick="|location.href='@{/exercisegoal/goalupdate(goalId=${exerciseGoal.goalId})}'|">수정</button>
                <form th:action="@{/exercisegoal/goaldelete}" method="post">
                    <input type="hidden" name="goalId" th:value="${exerciseGoal.goalId}">
                    <button class="ExerciseGoal-selectButton" type="submit">삭제</button>
                </form>
            </div>
        </div>
</div>

    <button class="ExerciseGoal-addGoalButton" th:onclick="|location.href='@{/exercisegoal/step1}'|">+ 새 목표 추가</button>
</div>
</div>
</html>
