<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">

<head>
    <title layout:fragment="title">운동 루틴 상세</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/Exercise.css}"/>
    </th:block>
</head>

<div layout:fragment="content">
<div class="RoutineDetail-container">
    <h1 class="RoutineDetail-title" th:text="${routine.routineName}">루틴 이름</h1>
    <div class="RoutineDetail-info">
        <p>🏋️ 부위: <span th:text="${routine.targetPart}"></span> /
            ⏱ 총 소요 시간: 약 <span th:text="${routine.totalTime}"></span> 분 /
            🧩 운동 수: <span th:text="${routine.totalExercises}"></span> 개 /
            🧩 세트: <span th:text="${routine.defaultSet}"></span> 세트
        </p>
    </div>

    <div class="RoutineDetail-card" th:each="ex : ${routine.exercises}">
        <h3 class="RoutineDetail-name" th:text="${ex.name}">운동명</h3>
        <div class="RoutineDetail-meta">
            카테고리: <span th:text="${ex.category}" /> /
            부위: <span th:text="${ex.parts}" /> /
            장비: <span th:text="${ex.equipment}" /> /
            피로도: <span th:text="${ex.fatigueLevel}" />
        </div>
        <div class="RoutineDetail-set">
            세트: <span th:text="${ex.sets}" /> /
            반복: <span th:text="${ex.reps}" />
        </div>
        <div class="RoutineDetail-desc" th:text="${ex.description}">운동 설명</div>
    </div>

    <div class="RoutineDetail-buttonbox">
            <input type="hidden" name="routineId" th:value="${routine.routineId}"/>
            <button type="button"
                    class="RoutineDetail-btn RoutineDetail-primary"
                    th:onclick="|location.href='@{/routine/execute/{routineId}(routineId=${routine.routineId})}'|">
                수행하기</button>

            <input type="hidden" name="routineId" th:value="${routine.routineId}">
            <button type="button"
                    class="RoutineDetail-btn RoutineDetail-secondary"
                    th:onclick="|location.href='@{/routine/update/{routineId}(routineId=${routine.routineId})}'|">
                수정하기</button>
        <form th:action="@{/routine/delete}" th:method="post">
            <input type="hidden" name="routineId" th:value="${routine.routineId}">
            <button class="RoutineDetail-btn RoutineDetail-secondary">삭제하기</button>
        </form>
    </div>
</div>
</div>
</html>
