<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">

<head>
    <title layout:fragment="title">FitFusion</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/Exercise.css}"/>
    </th:block>
</head>

<div layout:fragment="content">
    <div class="RoutineEdit-container">
        <h1 class="RoutineEdit-title"
            th:text="${routine.routineId > 0} ? '루틴 수정' : '루틴 생성'">루틴 수정 / 생성</h1>
        <form th:action="${routine.routineId > 0} ? @{/routine/update/custom} : @{/routine/save/custom}" method="post" class="RoutineEdit-form">
            <div class="RoutineEdit-formGroup">
                <label for="routineName">루틴 이름</label>
                <input type="text" id="routineName" placeholder="예: 하체 집중 루틴"
                       th:value="${routine.routineId > 0} ? ${routine.routineName} : ''">
            </div>

            <div class="RoutineEdit-formGroup">
                <label for="description">루틴 설명</label>
                <textarea id="description" placeholder="루틴에 대한 간단한 설명을 입력하세요."
                          th:text="${routine.routineId > 0} ? ${routine.description} : ''"></textarea>
            </div>
            <button class="RoutineEdit-addBtn">+ 운동 추가</button>
            <div class="RoutineEdit-exerciseList">
                <h3>운동 목록</h3>
                <div id="exerciseTemplate" style="display: none;">
                    <div class="RoutineEdit-exerciseCard">
                        <button class="RoutineEdit-deleteBtn" onclick="deleteExerciseCard(this)">삭제</button>
                        <div class="RoutineEdit-formGroup">
                            <label>운동 이름</label>
                            <select name="exercises[#].exerciseId">
                                <option th:each="ex : ${exerciseList}"
                                        th:value="${ex.exerciseId}"
                                        th:text="${ex.exerciseName}"
                                        th:selected="${exercise != null} and ${exercise.exerciseId} == ${ex.exerciseId}">
                                </option>
                            </select>
                            <div class="RoutineEdit-formGroup">
                                <label>세트 수</label>
                                <input type="number" name="exercises[#}.sets">
                            </div>
                            <div class="RoutineEdit-formGroup">
                                <label>반복 수</label>
                                <input type="number" name="exercises[#}.reps">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="RoutineEdit-exerciseCard"
                     th:if="${routine != null}"
                     th:each="exercise, status : ${routine.exercises}">
                    <button class="RoutineEdit-deleteBtn"
                            onclick="deleteExerciseCard(this)">삭제
                    </button>
                    <div class="RoutineEdit-formGroup">
                        <label>운동 이름</label>
                        <select name="exericses[__index__].exerciseId">
                            <option th:each="ex : ${exerciseList}"
                                    th:value="${ex.exerciseId}"
                                    th:text="${ex.exerciseName}"
                                    th:selected="${ex.exerciseId} == ${exercise.exerciseId}">
                            </option>
                        </select>
                    </div>
                    <div class="RoutineEdit-formGroup">
                        <label>세트 수</label>
                        <input type="number" th:value="${exercise.sets}">
                    </div>
                    <div class="RoutineEdit-formGroup">
                        <label>반복 수</label>
                        <input type="number" th:value="${exercise.reps}">
                    </div>
                </div>
            </div>

            <button type="submit"
                    class="RoutineEdit-saveBtn"
                    th:text="${routine != null} ? '루틴 수정하기' : '루틴 저장하기'">루틴 저장
            </button>
        </form>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        let exerciseIndex = 0;

        function addExerciseCard() {
            const template = document.getElementById('exerciseTemplate').innerHTML;
            const newCardGtml = template.replace(/#/g, exerciseIndex++);
            const newCard = document.createElement('div');
            newCard.innerHTML = newCardGtml;
            document.querySelector('.RoutineEdit-exerciseList').prepend(newCard.firstElementChild);
        }

        function deleteExerciseCard(btn) {
            const card = btn.closest('.RoutineEdit-exerciseCard');
            card.remove();
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.RoutineEdit-addBtn').addEventListener('click', addExerciseCard);
            const isNew = document.querySelector('.RoutineEdit-title').textContent.includes('루틴 생성');
            if (isNew) {
                addExerciseCard();
            }
        })

    </script>
</th:block>
</html>
