<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/layout/base}" th:with="menu='posts'">

<head>
    <title layout:fragment="title">부족 부위 맞춤 루틴 추천</title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/Exercise.css}"/>
    </th:block>
</head>

<div class="TargetRoutineRecommendations">
    <div layout:fragment="content">
        <h1 class="TargetRoutineRecommendations-title">부족한 부위 맞춤 루틴 추천</h1>
        <p class="TargetRoutineRecommendations-subtext">
            최근 운동 기록을 바탕으로 부족한 부위 중심의 루틴을 추천해드립니다.
        </p>

        <div class="TargetRoutineRecommendations-container">
            <div class="TargetRoutineRecommendations-card"
                 th:each="routine, stat : ${routines}">
                <form th:id="'saveForm' + ${stat.index}"
                      th:action="@{/routine/save/target}"
                      method="post">
                    <input type="hidden" name="bodyPart" th:value="${routine.key.name}">
                    <input type="hidden" name="routineJson" th:value="${@jacksonObjectMapper.writeValueAsString(routine.value)}">

                    <div class="TargetRoutineRecommendations-part"
                         th:text="'부족한 부위: ' + ${routine.key.bodyName}">부족한 부위: 하체
                    </div>
                    <div class="TargetRoutineRecommendations-name"
                         th:text="${routine.key.bodyName} + '맞춤 루틴'">하체 근력 집중 루틴
                    </div>
                    <div class="TargetRoutineRecommendations-list"
                         th:each=" re : ${routine.value}">
                        <li th:text="${re.exercise.exerciseName}
                            + ' - ' + ${re.sets} + '세트 '
                            + ${re.reps} + '회'">
                            포함 운동
                        </li>
                    </div>
                    <button type="submit" class="TargetRoutineRecommendations-start">루틴 저장하기</button>
                </form>
            </div>


            <div class="TargetRoutineRecommendations-bottom">
                <a href="/myexercise" class="TargetRoutineRecommendations-btn gray">나의 운동으로 돌아가기</a>
                <a href="/routine/list" class="TargetRoutineRecommendations-btn gray">루틴 목록으로 이동하기</a>
            </div>
        </div>
    </div>
</html>
