<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.AdminMapper">

    <!--
        User getUserById(int id);
    -->
    <select id="getUserById" resultType="User">
        SELECT
            user_id             userId,
            username,
            password,
            name,
            email,
            gender,
            height,
            weight,
            birth_date          birthDate,
            created_date        createdDate,
            updated_date        updatedDate,
            deleted,
            deleted_date        deletedDate,
            experience_level    experienceLevel
        FROM
            fitfusion_users
        WHERE
            user_id = #{id}
    </select>

    <!--
        User getUserByIdWithRoleNames(int id);
    -->
    <resultMap id="UserWithRoleNamesResultMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="birth_date" property="birthDate"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="deleted" property="deleted"/>
        <result column="deleted_date" property="deletedDate"/>
        <result column="experience_level" property="experienceLevel"/>
        <collection property="roleNames"
                    column="user_id"
                    ofType="string"
                    select="getRoleNamesById"/>
    </resultMap>

    <select id="getUserByIdWithRoleNames" resultMap="UserWithRoleNamesResultMap">
        SELECT
            user_id,
            username,
            password,
            name,
            email,
            gender,
            height,
            weight,
            birth_date,
            created_date,
            updated_date,
            deleted,
            deleted_date,
            experience_level
        FROM
            fitfusion_users
        WHERE
            user_id = #{id}
    </select>

    <!--
        List<String> getRoleNamesById(int id);
    -->
    <select id="getRoleNamesById" resultType="string">
        SELECT
            role_name
        FROM
            fitfusion_user_roles
        where
            user_id = #{id}
    </select>

    <!--
        List<User> getAllUsers();
    -->
    <select id="getAllUsers" resultType="User">
        SELECT
            user_id,
            username,
            password,
            name,
            email,
            gender,
            height,
            weight,
            birth_date,
            created_date,
            updated_date,
            deleted,
            deleted_date,
            experience_level
        FROM
            fitfusion_users
        ORDER BY user_id DESC
    </select>

    <!--
        int countActiveUsers();
    -->
    <select id="countActiveUsers" resultType="int">
        SELECT COUNT(*)
        FROM fitfusion_users
        WHERE deleted = 'N'
    </select>

    <!--
        int countDeletedUsers();
    -->
    <select id="countDeletedUsers" resultType="int">
        SELECT COUNT(*)
        FROM fitfusion_users
        WHERE deleted = 'Y'
    </select>

    <!--
        int countTodayUsers();
    -->
    <select id="countTodayUsers" resultType="int">
        SELECT COUNT(*)
        FROM fitfusion_users
        WHERE TRUNC(created_date) = TRUNC(SYSDATE)
          AND deleted = 'N'
    </select>

    <!--
        void softDeleteUserById(int id);
    -->
    <update id="softDeleteUserById" parameterType="int">
        UPDATE fitfusion_users
        SET
            deleted = 'Y'
        WHERE
            user_id = #{id}
    </update>

    <!--
        void softRestoreUserById(int id);
    -->
    <update id="softRestoreUserById" parameterType="int">
        UPDATE fitfusion_users
        SET
            deleted = 'N'
        WHERE
            user_id = #{id}
    </update>

    <!--
        List<Notice> getAllNotices();
    -->
    <select id="getAllNotices" resultType="Notice">
        SELECT
            notice_id       noticeId,
            title,
            content,
            created_date    createdDate,
            updated_date    updatedDate,
            user_id         "user.userId"
        FROM
            fitfusion_notices
        ORDER BY notice_id DESC

    </select>

    <!--
        Notice getNoticeById(int id);
    -->
    <select id="getNoticeById" parameterType="int" resultType="Notice">
        SELECT
            notice_id       noticeId,
            title,
            content,
            created_date    createdDate,
            updated_date    updatedDate,
            user_id         "user.userId"
        FROM
            fitfusion_notices
        WHERE
            notice_Id = #{id}
    </select>


    <!--
        void insertNotice(Notice notice);
    -->
    <insert id="insertNotice" parameterType="Notice">
        INSERT INTO fitfusion_notices (
            notice_id,
            title,
            content,
            created_date,
            updated_date,
            user_id
        ) VALUES ( FITFUSION_NOTICE_SEQ.nextval,
                   #{title},
                   #{content},
                   sysdate,
                   sysdate,
                   #{user.userId})
    </insert>


    <!--
        int countNotices();
    -->
    <select id="countNotices" resultType="int">
        SELECT COUNT(*)
        FROM fitfusion_notices
    </select>

    <!--
        void deleteNoticeById(int id);
    -->
    <delete id="deleteNoticeById" parameterType="int">
        DELETE FROM fitfusion_notices
        WHERE
            notice_id = #{id}
    </delete>

    <!--
        void modifyNotice(Notice notice);
    -->
    <update id="modifyNotice" parameterType="Notice">
        UPDATE fitfusion_notices
        SET
            title = #{title},
            content = #{content},
            updated_date = SYSDATE
        WHERE
            notice_id = #{noticeId}
    </update>

    <!--
        List<Video> getAllVideos();
    -->
    <select id="getAllVideos" resultType="Video">
        SELECT
            video_id            videoId,
            title,
            description,
            file_path           filePath,
            thumbnail_path      thumbnailPath,
            duration,
            upload_date         uploadDate,
            uploaded_by         uploadedBy,
            category_id         categoryId,
            exercise_id         exerciseId
        FROM
            fitfusion_videos
    </select>

    <!--
        Video getVideoById(int id);
    -->
    <select id="getVideoById" parameterType="int" resultType="Video">
        SELECT
            video_id            videoId,
            title,
            description,
            file_path           filePath,
            thumbnail_path      thumbnailPath,
            duration,
            upload_date         uploadDate,
            uploaded_by         uploadedBy,
            category_id         categoryId,
            exercise_id         exerciseId
        FROM
            fitfusion_videos
        WHERE
            video_id = #{id}
    </select>


    <!--
        Video getVideoByIdWithUser(int id);
    -->
    <select id="getVideoByIdWithUser" parameterType="int" resultType="Video">
        SELECT
            v.video_id            videoId,
            v.title,
            v.description,
            v.file_path           filePath,
            v.thumbnail_path      thumbnailPath,
            v.duration,
            v.upload_date         uploadDate,
            v.uploaded_by         uploadedBy,
            v.category_id         categoryId,
            v.exercise_id         exerciseId,
            u.user_id               userId,
            u.username,
            u.password,
            u.name,
            u.email,
            u.gender,
            u.height,
            u.weight,
            u.birth_date            birthDate,
            u.created_date          createdDate,
            u.updated_date          updatedDate,
            u.deleted,
            u.deleted_date          deletedDate,
            u.experience_level      experienceLevel
        FROM
            fitfusion_videos v, fitfusion_users u
        WHERE
            video_id = #{id}
            AND v.uploaded_by = u.user_id
    </select>

     <!--
        Video getVideoByIdWithUserAndExercises(int id);
     -->
    <select id="getVideoByIdWithUserAndExercises" parameterType="int" resultType="Video">
        SELECT
            v.video_id            videoId,
            v.title,
            v.description,
            v.file_path           filePath,
            v.thumbnail_path      thumbnailPath,
            v.duration,
            v.upload_date         uploadDate,
            v.uploaded_by         uploadedBy,
            v.category_id         categoryId,
            v.exercise_id         exerciseId,
            u.user_id               userId,
            u.username              "user.userId",
            u.password              "user.password",
            u.name                  "user.name",
            u.email                 "user.email",
            u.gender                "user.gender",
            u.height                "user.height",
            u.weight                "user.weight",
            u.birth_date            "user.birthDate",
            u.created_date          "user.createdDate",
            u.updated_date          "user.updatedDate",
            u.deleted               "user.deleted",
            u.deleted_date          "user.deletedDate",
            u.experience_level      "user.experienceLevel",
            e.exercise_id           "exercise.id",
            e.name                  "exercise.name",
            e.description           "exercise.description",
            e.category              "exercise.category",
            e.main_parts            "exercise.equipment",
            e.equipment             "exercise.mainParts",
            e.fatigue_level         "exercise.fatigueLevel"
        FROM
            fitfusion_videos v, fitfusion_users u, fitfusion_exercises e
        WHERE
            video_id = #{id}
          AND v.uploaded_by = u.user_id
          AND v.exercise_id = e.exercise_id
    </select>

    <!--
        List<Exercise> getAllExercises();
    -->
    <select id="getAllExercises" resultType="Exercise">
        SELECT
            exercise_id     id,
            name,
            description,
            category,
            main_parts      mainParts,
            equipment,
            fatigue_level   fatigueLevel
        FROM
            fitfusion_exercises
    </select>

    <!--
        List<VideoCategory> getAllVideoCategories();
    -->
    <select id="getAllVideoCategories" resultType="VideoCategory">
        SELECT
            category_id     categoryId,
            name
        FROM
            fitfusion_video_categories
    </select>


    <!--
        void insertVideo(Video video);
    -->
    <insert id="insertVideo" parameterType="Video">
        INSERT INTO fitfusion_videos (
            video_id,
            title,
            description,
            file_path,
            thumbnail_path,
            duration,
            upload_date,
            uploaded_by,
            category_id,
            exercise_id
        ) VALUES (
                     fitfusion_video_seq.nextval,
                     #{title},
                     #{description},
                     #{filePath},
                     #{thumbnailPath},
                     #{duration},
                     sysdate,
                     #{uploadedBy},
                     #{categoryId},
                     #{exerciseId}
                 )
    </insert>

    <!--
        int countVideos();
    -->
    <select id="countVideos" resultType="int">
        SELECT COUNT(*)
        FROM fitfusion_videos
    </select>

    <!--
        void deleteVideoById(int id)
    -->
    <delete id="deleteVideoById" parameterType="int">
        DELETE FROM fitfusion_videos
        WHERE
            video_id = #{id}
    </delete>

    <!--
        void updateVideo(Video video);
    -->
    <update id="updateVideo" parameterType="Video">
        UPDATE fitfusion_videos
        SET
            title = #{title},
            description = #{description},
            file_path = #{filePath},
            thumbnail_path = #{thumbnailPath},
            duration = #{duration},
            upload_date = #{uploadDate},
            uploaded_by = #{uploadedBy},
            category_id = #{categoryId},
            exercise_id = #{exerciseId}
        WHERE video_id = #{videoId}
    </update>
</mapper>