<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.AvoidPartsMapper">
    <select id="getAvoidPartsByUserId" resultType="string" parameterType="int">
        select body_part_name           as bodyName
        from fitfusion_user_condition_avoid_parts
        where user_id = #{userId}
    </select>

    <delete id="deleteAvoidPartsByUserId">
        delete from fitfusion_user_condition_avoid_parts
        where user_id = #{userId}
    </delete>

    <delete id="deleteAvoidPartsByConditionId">
        delete from fitfusion_user_condition_avoid_parts
        where condition_id = #{conditionId}
    </delete>

    <insert id="insertAvoidPart" parameterType="AvoidPart">
        insert into fitfusion_user_condition_avoid_parts (user_id, condition_id, body_part_name)
        values (#{userId}, #{conditionId} , #{bodyName})
    </insert>
</mapper>