<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.ConditionMapper">

    <delete id="deleteAvoidPartsByUserId" parameterType="int">
        delete from fitfusion_user_condition_avoid_parts
        where user_id = #{userId}
    </delete>

    <delete id="deleteTargetPartsByUserId">
        delete from fitfusion_user_condition_target_parts
        where user_id = #{userId}
    </delete>

    <select id="getConditionIdByUserId" resultType="int">
        select nvl((
           select condition_id as conditionId
           from fitfusion_conditions
           where user_id = #{userId}
       ), 0)
        from dual
    </select>

    <select id="getConditionLevelByUserId" resultType="string" parameterType="int">
        select condition_level       as conditionLevel
        from fitfusion_conditions
        where user_id = #{userId}
        order by created_date desc
        fetch first 1 rows only
    </select>

    <insert id="insertCondition" parameterType="Condition">
        insert into FITFUSION_CONDITIONS (
                                  condition_id
                                , user_id
                                , condition_level
                                , created_date
                    ) values (
                                  #{conditionId}
                                , #{userId}
                                , #{conditionLevel}
                                , sysdate
                         )
    </insert>

    <select id="getNextConditionId" resultType="int">
        select fitfusion_condition_seq.nextval from dual
    </select>

    <delete id="deleteConditionByUserId">
        delete from fitfusion_conditions
        where user_id = #{userId}
    </delete>
</mapper>