<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fitfusion.mapper.ExerciseMapper">

    <insert id="insertExercise" parameterType="Exercise">
        INSERT INTO FITFUSION_EXERCISES (
            EXERCISE_ID,
            NAME,
            DESCRIPTION,
            EQUIPMENT,
            MAIN_PARTS,
            CATEGORY,
            FATIGUE_LEVEL
        ) VALUES (
                     EXERCISE_SEQ.NEXTVAL,
                     #{name},
                     #{description},
                     #{equipment},
                     #{mainParts},
                     #{category},
                     #{fatigueLevel}
                 )
    </insert>

    <select id="findAllExercises" resultType="Exercise">
        SELECT
            exercise_id     as exerciseId,
            name            as exerciseName,
            description     as description,
            category        as category,
            main_parts      as mainParts,
            equipment       as equipment,
            fatigue_level   as fatigueLevel
        FROM FITFUSION_EXERCISES
    </select>

    <select id="findExerciseById" resultType="Exercise">
        select
            exercise_id     as exerciseId,
            name            as exerciseName,
            description     as description,
            category        as category,
            main_parts      as mainParts,
            equipment       as equipment,
            fatigue_level   as fatigueLevel
        from fitfusion_exercises
        where exercise_id = #{id}
    </select>

</mapper>
