<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.GymMapper">

    <!--
         void insert(GymDataDto gymplaceData);
    -->
    <insert id="insert" parameterType="GymDataDto">
        insert into FITFUSION_GYMS
        (GYM_ID, NAME, ADDRESS, PHONE, LATITUDE, LONGITUDE, KAKAO_PLACE_ID, AVERAGE_RATING, PROFILE_URL, DISTANCE)
        values
            (FITFUSION_GYM_SEQ.NEXTVAL, #{name}, #{address}, #{phone}, #{latitude}, #{longitude}, #{kakaoPlaceId}, #{averageRating}, #{profileUrl}, #{distance})
    </insert>

    <!--
        GymDataDto select(@Param("kakaoPlaceId") String kakaoPlaceId);
    -->
    <select id="select" resultType="GymDataDto">
        select
            GYM_ID          AS gymId
             ,   NAME
             ,   ADDRESS
             ,   LATITUDE
             ,   LONGITUDE
             ,   PHONE
             ,   KAKAO_PLACE_ID  AS kakaoPlaceId
             ,   AVERAGE_RATING  AS averageRating
             ,   PROFILE_URL     AS profileUrl
        from FITFUSION_GYMS
        where KAKAO_PLACE_ID = #{kakaoPlaceId}
    </select>

    <!--
        <resultMap id="detailDataMap" type="DetailDataDto">
    -->
    <resultMap id="detailDataMap" type="DetailDataDto">
        <id property="gymId" column="GYM_ID"></id>
        <result property="name" column="GYM_NAME"></result>
        <result property="address" column="ADDRESS"></result>
        <result property="phone" column="PHONE"></result>
        <result property="latitude" column="LATITUDE"></result>
        <result property="longitude" column="LONGITUDE"></result>
        <result property="averageRating" column="AVERAGE_RATING"></result>
        <result property="profileUrl" column="PROFILE_URL"></result>
        <result property="distance" column="DISTANCE"></result>

        <collection property="gymReviews" ofType="GymReviewDto">
            <result property="reviewId" column="REVIEW_ID"></result>
            <result property="rating" column="RATING"></result>
            <result property="content" column="CONTENT"></result>
            <result property="createdDate" column="CREATED_DATE"></result>
            <result property="updatedDate" column="UPDATED_DATE"></result>

            <association property="user" javaType="User">
              <id property="userId" column="USER_ID"/>
              <result property="username" column="USERNAME"/>
                <result property="name" column="USER_NAME"></result>
            </association>
        </collection>
    </resultMap>


    <!--
        DetailDataDto detailData(int gymId);
    -->
    <select id="detailData" resultMap="detailDataMap">
        SELECT
             G.GYM_ID
         ,   G.NAME             AS GYM_NAME
         ,   G.ADDRESS
         ,   G.PHONE
         ,   G.LATITUDE
         ,   G.LONGITUDE
         ,   G.AVERAGE_RATING
         ,   G.PROFILE_URL
         ,   G.distance
         ,   R.REVIEW_ID
         ,   R.RATING
         ,   R.CONTENT
         ,   R.CREATED_DATE
         ,   R.UPDATED_DATE
         ,   U.USER_ID
         ,   U.USERNAME
         ,   U.NAME            AS USER_NAME
        FROM FITFUSION_GYMS G
                 LEFT JOIN FITFUSION_GYM_REVIEWS R ON G.GYM_ID = R.GYM_ID
                 LEFT JOIN FITFUSION_USERS U ON R.USER_ID = U.USER_ID
        WHERE G.GYM_ID = #{gymId}
    </select>

</mapper>
