<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.RoutineMapper">

    <select id="countRoutineByUserId" parameterType="int" resultType="long">
        select count(*)
        from fitfusion_routine
        where user_id = #{userId}
    </select>

    <select id="selectLatestRoutinesByUser" parameterType="int" resultType="RoutineDto">
        SELECT
            r.routine_id AS routineId,
            r.name       AS routineName,
            ( SELECT COUNT(*)
              FROM fitfusion_routine_exercise re
              WHERE re.routine_id = r.routine_id ) AS exerciseCount
        FROM fitfusion_routine r
        WHERE r.user_id = #{userId}
        ORDER BY r.created_date DESC
            FETCH FIRST 4 ROWS ONLY
    </select>

    <select id="getRoutineListByUserId" resultType="RoutineListDto">
        select
            r.routine_id        as routineId,
            r.name              as routineName,
            r.difficulty_level  as difficulty,
            (
                select e.category
                from fitfusion_routine_exercise re2
                join fitfusion_exercises e on re2.exercise_id = e.exercise_id
                where re2.routine_id = r.routine_id
                    fetch first 1 row only
            ) as targetPart,
            (
                select listagg(e.name, ', ') within group (order by e.name)
        from fitfusion_routine_exercise re3
            join fitfusion_exercises e on re3.exercise_id = e.exercise_id
        where re3.routine_id = r.routine_id
            ) as summary,
            (
        select (sum(re4.sets) * 5) || '분'
        from fitfusion_routine_exercise re4
        where re4.routine_id = r.routine_id
            ) as totalTime,
        (
        select count(*)
        from fitfusion_routine_exercise re3
        where re3.routine_id = r.routine_id
        ) as exerciseCount
        from
            fitfusion_routine r
        where
            r.user_id = #{userId}
        order by
            r.created_date desc
        offset #{offset} rows
        fetch next #{size} rows only
    </select>

    <insert id="insertRoutine" parameterType="Routine">
        insert into FITFUSION_ROUTINE(
                routine_id
              , user_id
              , name
              , difficulty_level
              , created_date
              , updated_date
              , description)
        values (
                #{routineId}
              , #{userId}
            , #{name}
            , #{difficultyLevel}
            , sysdate
            , sysdate
            , #{description}
               )
    </insert>

    <select id="getNextRoutineId" resultType="int">
        select fitfusion_routine_seq.nextval
        from dual
    </select>
    
    <update id="updateRoutine" parameterType="Routine">
        update fitfusion_routine
        set 
            name = #{name}
          , difficulty_level = #{difficultyLevel}
          , updated_date = sysdate
          , description = #{description}
        where user_id = #{userId} and routine_id = #{routineId}
    </update>
    
    <delete id="deleteRoutineByUserAndRoutineId" parameterType="map">
        delete from fitfusion_routine
        where user_id = #{userId} and routine_id = #{routineId}
    </delete>
    
    <select id="getRoutineInfo" resultType="RoutineDetailDto">
        SELECT
            r.description AS description,
            r.name AS routineName,
            (
                SELECT e.category
                FROM fitfusion_routine_exercise re2
                         JOIN fitfusion_exercises e ON re2.exercise_id = e.exercise_id
                WHERE re2.routine_id = r.routine_id
                    FETCH FIRST 1 ROW ONLY
            ) AS targetPart,
            (
                SELECT sum(re.sets) * 5
                FROM fitfusion_routine_exercise re
                WHERE re.routine_id = r.routine_id
            ) AS totalTime,
            (
                SELECT COUNT(*)
                FROM fitfusion_routine_exercise re3
                WHERE re3.routine_id = r.routine_id
            ) AS totalExercises,
            (
                SELECT sets
                FROM fitfusion_routine_exercise re4
                WHERE re4.routine_id = r.routine_id
                    FETCH FIRST 1 ROW ONLY
            ) AS defaultSet
        FROM fitfusion_routine r
        WHERE r.routine_id = #{routineId}
          and r.user_id = #{userId}
    </select>



    <select id="selectRoutineExercises" resultType="ExerciseItemDto">
        SELECT
            e.exercise_id AS exerciseId,
            re.routine_exercise_id AS routineExerciseId,
            e.name AS name,
            e.category AS category,
            e.main_parts AS parts,
            e.equipment AS equipment,
            e.fatigue_level AS fatigueLevel,
            re.sets AS sets,
            re.reps AS reps,
            re.weight AS weight,
            e.description AS description
        FROM fitfusion_routine_exercise re
           , fitfusion_exercises e
           , fitfusion_routine r
        WHERE re.routine_id = #{routineId}
          AND r.user_id = #{userId}
          AND r.routine_id = re.routine_id
          AND re.exercise_id = e.exercise_id
        ORDER BY re.routine_exercise_id
    </select>
</mapper>