<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.RoutineMapper">

    <insert id="insertRoutine" parameterType="Routine">
        <selectKey keyProperty="routineId" resultType="int" order="BEFORE">
            SELECT FITFUSION_ROUTINE_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        insert into FITFUSION_ROUTINE(
                routine_id
              , user_id
              , name
              , difficulty_level
              , created_date
              , updated_date
              , description)
        values (
                #{routineId}
              , #{userId}
            , #{name}
            , #{difficultyLevel}
            , sysdate
            , sysdate
            , #{description}
               )
    </insert>

    <select id="getNextRoutineId" resultType="int">
        select fitfusion_routine_seq.nextval
        from dual
    </select>

    <insert id="insertRoutineExercise">
        insert into FITFUSION_ROUTINE_EXERCISE (
                routine_exercise_id
              , routine_id
              , exercise_id
               )
        values (
                FITFUSION_ROUTINE_EXERCISE_SEQ.NEXTVAL
              , #{routineId}
              , #{exerciseId}
               )
    </insert>
</mapper>