<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitfusion.mapper.RoutineExerciseMapper">

    <insert id="insertRoutineExerCise" parameterType="RoutineExercise">
        insert into fitfusion_routine_exercise (
            routine_exercise_id
          , routine_id
          , exercise_id
          , sets
          , reps
          , weight
        )
        values (
            routine_exercise_seq.nextval
          , #{routineId}
          , #{exerciseId}
          , #{sets}
          , #{reps}
          , #{weight}
        )
    </insert>

</mapper>